<link rel="stylesheet" type="text/css" href="../plugs/layui/css/formSelects-v4.css"/>
<link rel="stylesheet" type="text/css" href="../css/addPay.css"/>
<div>
	<div style="width: 400px; display: inline-block; vertical-align: top;" xm-select-show-count="5">
		<select name="city" xm-select="selectId" xm-select-skin="default">
			<option value="1" disabled="disabled">北京</option>
			<option value="2" selected="selected">上海</option>
			<option value="3">广州</option>
			<option value="4" selected="selected">深圳</option>
			<option value="5">天津</option>
		</select>
	</div>
	
	
</div>
<script src="../plugs/jquery.min.js"></script>
<script src="../plugs/layui/formSelects-v4.min.js"></script>
<script src="../js/addPay.js"></script>