
    <link rel="stylesheet" href="../css/employeeList.css">
    
<div class="layui-fluid layadmin-maillist-fluid">
  <div id="EmployeeDemo" class="layui-row layui-col-space15">
    <div class="layui-col-md4 layui-col-sm6">
      <div class="layadmin-contact-box" > 
          <div class="layui-col-md4 layui-col-sm6">
              <div class="layadmin-text-center">
			  	<img src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=282609871,2046421540&fm=58&bpow=2048&bpoh=2745">
				<div class="layadmin-maillist-img layadmin-font-blod">胡歌</div>
				<div class="layadmin-maillist-img layadmin-font-blod">
					<div class="layui-btn-group" style="margin-top: 12px">
			  			<button class="layui-btn layui-btn-primary layui-btn-sm">查看</button>
				 		<button class="layui-btn layui-btn-primary layui-btn-sm">辞退</button>
					</div>
				</div>
              </div>
          </div>
        
        <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
        	<div class="layui-row">
        		<div class="layui-col-md8">
        			<h3 class="layadmin-title">
		              <strong>胡歌didi</strong>
	              	</h3>
	            </div>
	            <div class="layui-col-md2">
		              <span style="line-height: 2em;text-align: center;">男</span>
	            </div>
	            <div class="layui-col-md2">
		              <span style="line-height: 2em;text-align: center;">汉</span>
	            </div>
            </div>
            <p class="layadmin-textimg">
              <i class="layui-icon layui-icon-location"></i>
					江西省抚州市金溪县
            </p>
          <div class="layadmin-address">
              <p>1996-12-12<p>
              <p><i class="layui-icon layui-icon-cellphone"></i>:13075851351</p>
              <p><i class="layui-icon layui-icon-cellphone"></i>:dv9j0ulukh@msn.com</p>
              <p>福建工程学院</p>
              <p>材料科学与工程15级1503班</p>
          </div>
        </div>
      </div>
    </div>
    <div class="layui-col-md4 layui-col-sm6">
      <div class="layadmin-contact-box" > 
          <div class="layui-col-md4 layui-col-sm6">
              <div class="layadmin-text-center">
			  	<img src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=282609871,2046421540&fm=58&bpow=2048&bpoh=2745">
				<div class="layadmin-maillist-img layadmin-font-blod">胡歌</div>
				<div class="layadmin-maillist-img layadmin-font-blod">
					<div class="layui-btn-group" style="margin-top: 12px">
			  			<button class="layui-btn layui-btn-primary layui-btn-sm">查看</button>
				 		<button class="layui-btn layui-btn-primary layui-btn-sm">辞退</button>
					</div>
				</div>
              </div>
          </div>
        
        <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
        	<div class="layui-row">
        		<div class="layui-col-md8">
        			<h3 class="layadmin-title">
		              <strong>胡歌didi</strong>
	              	</h3>
	            </div>
	            <div class="layui-col-md2">
		              <span style="line-height: 2em;text-align: center;">男</span>
	            </div>
	            <div class="layui-col-md2">
		              <span style="line-height: 2em;text-align: center;">汉</span>
	            </div>
            </div>
            <p class="layadmin-textimg">
              <i class="layui-icon layui-icon-location"></i>
					江西省抚州市金溪县
            </p>
          <div class="layadmin-address">
              <p>1996-12-12<p>
              <p><i class="layui-icon layui-icon-cellphone"></i>:13075851351</p>
              <p><i class="layui-icon layui-icon-cellphone"></i>:dv9j0ulukh@msn.com</p>
              <p>福建工程学院</p>
              <p>材料科学与工程15级1503班</p>
          </div>
        </div>
      </div>
    </div>
    <div class="layui-col-md4 layui-col-sm6">
      <div class="layadmin-contact-box" > 
          <div class="layui-col-md4 layui-col-sm6">
              <div class="layadmin-text-center">
			  	<img src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=282609871,2046421540&fm=58&bpow=2048&bpoh=2745">
				<div class="layadmin-maillist-img layadmin-font-blod">胡歌</div>
				<div class="layadmin-maillist-img layadmin-font-blod">
					<div class="layui-btn-group" style="margin-top: 12px">
			  			<button class="layui-btn layui-btn-primary layui-btn-sm">查看</button>
				 		<button class="layui-btn layui-btn-primary layui-btn-sm">辞退</button>
					</div>
				</div>
              </div>
          </div>
        
        <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
        	<div class="layui-row">
        		<div class="layui-col-md8">
        			<h3 class="layadmin-title">
		              <strong>胡歌didi</strong>
	              	</h3>
	            </div>
	            <div class="layui-col-md2">
		              <span style="line-height: 2em;text-align: center;">男</span>
	            </div>
	            <div class="layui-col-md2">
		              <span style="line-height: 2em;text-align: center;">汉</span>
	            </div>
            </div>
            <p class="layadmin-textimg">
              <i class="layui-icon layui-icon-location"></i>
					江西省抚州市金溪县
            </p>
          <div class="layadmin-address">
              <p>1996-12-12<p>
              <p><i class="layui-icon layui-icon-cellphone"></i>:13075851351</p>
              <p><i class="layui-icon layui-icon-cellphone"></i>:dv9j0ulukh@msn.com</p>
              <p>福建工程学院</p>
              <p>材料科学与工程15级1503班</p>
          </div>
        </div>
      </div>
    </div>
    <div class="layui-col-md4 layui-col-sm6">
      <div class="layadmin-contact-box" > 
          <div class="layui-col-md4 layui-col-sm6">
              <div class="layadmin-text-center">
			  	<img src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=282609871,2046421540&fm=58&bpow=2048&bpoh=2745">
				<div class="layadmin-maillist-img layadmin-font-blod">胡歌</div>
				<div class="layadmin-maillist-img layadmin-font-blod">
					<div class="layui-btn-group" style="margin-top: 12px">
			  			<button class="layui-btn layui-btn-primary layui-btn-sm">查看</button>
				 		<button class="layui-btn layui-btn-primary layui-btn-sm">辞退</button>
					</div>
				</div>
              </div>
          </div>
        
        <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
        	<div class="layui-row">
        		<div class="layui-col-md8">
        			<h3 class="layadmin-title">
		              <strong>胡歌didi</strong>
	              	</h3>
	            </div>
	            <div class="layui-col-md2">
		              <span style="line-height: 2em;text-align: center;">男</span>
	            </div>
	            <div class="layui-col-md2">
		              <span style="line-height: 2em;text-align: center;">汉</span>
	            </div>
            </div>
            <p class="layadmin-textimg">
              <i class="layui-icon layui-icon-location"></i>
					江西省抚州市金溪县
            </p>
          <div class="layadmin-address">
              <p>1996-12-12<p>
              <p><i class="layui-icon layui-icon-cellphone"></i>:13075851351</p>
              <p><i class="layui-icon layui-icon-cellphone"></i>:dv9j0ulukh@msn.com</p>
              <p>福建工程学院</p>
              <p>材料科学与工程15级1503班</p>
          </div>
        </div>
      </div>
    </div>
    <div class="layui-col-md4 layui-col-sm6">
      <div class="layadmin-contact-box" > 
          <div class="layui-col-md4 layui-col-sm6">
              <div class="layadmin-text-center">
			  	<img src="http://img4.imgtn.bdimg.com/it/u=106122580,557469996&fm=26&gp=0.jpg">
				<div class="layadmin-maillist-img layadmin-font-blod">习大大</div>
				<div class="layadmin-maillist-img layadmin-font-blod">
					<div class="layui-btn-group" style="margin-top: 12px">
			  			<button class="layui-btn layui-btn-primary layui-btn-sm">查看</button>
				 		<button class="layui-btn layui-btn-primary layui-btn-sm">辞退</button>
					</div>
				</div>
              </div>
          </div>
        
        <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
        	<div class="layui-row">
        		<div class="layui-col-md8">
        			<h3 class="layadmin-title">
		              <strong>胡歌didi</strong>
	              	</h3>
	            </div>
	            <div class="layui-col-md2">
		              <span style="line-height: 2em;text-align: center;">男</span>
	            </div>
	            <div class="layui-col-md2">
		              <span style="line-height: 2em;text-align: center;">汉</span>
	            </div>
            </div>
            <p class="layadmin-textimg">
              <i class="layui-icon layui-icon-location"></i>
					江西省抚州市金溪县
            </p>
          <div class="layadmin-address">
              <p>1996-12-12<p>
              <p><i class="layui-icon layui-icon-cellphone"></i>:13075851351</p>
              <p><i class="layui-icon layui-icon-cellphone"></i>:dv9j0ulukh@msn.com</p>
              <p>福建工程学院</p>
              <p>材料科学与工程15级1503班</p>
          </div>
        </div>
      </div>
    </div>
    <div class="layui-col-md4 layui-col-sm6">
      <div class="layadmin-contact-box" > 
          <div class="layui-col-md4 layui-col-sm6">
              <div class="layadmin-text-center">
			  	<img src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=282609871,2046421540&fm=58&bpow=2048&bpoh=2745">
				<div class="layadmin-maillist-img layadmin-font-blod">胡歌</div>
				<div class="layadmin-maillist-img layadmin-font-blod">
					<div class="layui-btn-group" style="margin-top: 12px">
			  			<button class="layui-btn layui-btn-primary layui-btn-sm">查看</button>
				 		<button class="layui-btn layui-btn-primary layui-btn-sm">辞退</button>
					</div>
				</div>
              </div>
          </div>
        
        <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
        	<div class="layui-row">
        		<div class="layui-col-md8">
        			<h3 class="layadmin-title">
		              <strong>胡歌didi</strong>
	              	</h3>
	            </div>
	            <div class="layui-col-md2">
		              <span style="line-height: 2em;text-align: center;">男</span>
	            </div>
	            <div class="layui-col-md2">
		              <span style="line-height: 2em;text-align: center;">汉</span>
	            </div>
            </div>
            <p class="layadmin-textimg">
              <i class="layui-icon layui-icon-location"></i>
					江西省抚州市金溪县
            </p>
          <div class="layadmin-address">
              <p>1996-12-12<p>
              <p><i class="layui-icon layui-icon-cellphone"></i>:13075851351</p>
              <p><i class="layui-icon layui-icon-cellphone"></i>:dv9j0ulukh@msn.com</p>
              <p>福建工程学院</p>
              <p>材料科学与工程15级1503班</p>
          </div>
        </div>
      </div>
    </div>
     <div class="layui-col-md4 layui-col-sm6">
      <div class="layadmin-contact-box" > 
          <div class="layui-col-md4 layui-col-sm6">
              <div class="layadmin-text-center">
			  	<img src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=282609871,2046421540&fm=58&bpow=2048&bpoh=2745">
				<div class="layadmin-maillist-img layadmin-font-blod">胡歌</div>
				<div class="layadmin-maillist-img layadmin-font-blod">
					<div class="layui-btn-group" style="margin-top: 12px">
			  			<button class="layui-btn layui-btn-primary layui-btn-sm">查看</button>
				 		<button class="layui-btn layui-btn-primary layui-btn-sm">辞退</button>
					</div>
				</div>
              </div>
          </div>
        
        <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
        	<div class="layui-row">
        		<div class="layui-col-md8">
        			<h3 class="layadmin-title">
		              <strong>胡歌didi</strong>
	              	</h3>
	            </div>
	            <div class="layui-col-md2">
		              <span style="line-height: 2em;text-align: center;">男</span>
	            </div>
	            <div class="layui-col-md2">
		              <span style="line-height: 2em;text-align: center;">汉</span>
	            </div>
            </div>
            <p class="layadmin-textimg">
              <i class="layui-icon layui-icon-location"></i>
					江西省抚州市金溪县
            </p>
          <div class="layadmin-address">
              <p>1996-12-12<p>
              <p><i class="layui-icon layui-icon-cellphone"></i>:13075851351</p>
              <p><i class="layui-icon layui-icon-cellphone"></i>:dv9j0ulukh@msn.com</p>
              <p>福建工程学院</p>
              <p>材料科学与工程15级1503班</p>
          </div>
        </div>
      </div>
    </div>
    <div class="layui-col-md4 layui-col-sm6">
      <div class="layadmin-contact-box" > 
          <div class="layui-col-md4 layui-col-sm6">
              <div class="layadmin-text-center">
			  	<img src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=282609871,2046421540&fm=58&bpow=2048&bpoh=2745">
				<div class="layadmin-maillist-img layadmin-font-blod">胡歌</div>
				<div class="layadmin-maillist-img layadmin-font-blod">
					<div class="layui-btn-group" style="margin-top: 12px">
			  			<button class="layui-btn layui-btn-primary layui-btn-sm">查看</button>
				 		<button class="layui-btn layui-btn-primary layui-btn-sm">辞退</button>
					</div>
				</div>
              </div>
          </div>
        
        <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
        	<div class="layui-row">
        		<div class="layui-col-md8">
        			<h3 class="layadmin-title">
		              <strong>胡歌didi</strong>
	              	</h3>
	            </div>
	            <div class="layui-col-md2">
		              <span style="line-height: 2em;text-align: center;">男</span>
	            </div>
	            <div class="layui-col-md2">
		              <span style="line-height: 2em;text-align: center;">汉</span>
	            </div>
            </div>
            <p class="layadmin-textimg">
              <i class="layui-icon layui-icon-location"></i>
					江西省抚州市金溪县
            </p>
          <div class="layadmin-address">
              <p>1996-12-12<p>
              <p><i class="layui-icon layui-icon-cellphone"></i>:13075851351</p>
              <p><i class="layui-icon layui-icon-cellphone"></i>:dv9j0ulukh@msn.com</p>
              <p>福建工程学院</p>
              <p>材料科学与工程15级1503班</p>
          </div>
        </div>
      </div>
    </div>
    <div class="layui-col-md4 layui-col-sm6">
      <div class="layadmin-contact-box" > 
          <div class="layui-col-md4 layui-col-sm6">
              <div class="layadmin-text-center">
			  	<img src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=282609871,2046421540&fm=58&bpow=2048&bpoh=2745">
				<div class="layadmin-maillist-img layadmin-font-blod">胡歌</div>
				<div class="layadmin-maillist-img layadmin-font-blod">
					<div class="layui-btn-group" style="margin-top: 12px">
			  			<button class="layui-btn layui-btn-primary layui-btn-sm">查看</button>
				 		<button class="layui-btn layui-btn-primary layui-btn-sm">辞退</button>
					</div>
				</div>
              </div>
          </div>
        
        <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
        	<div class="layui-row">
        		<div class="layui-col-md8">
        			<h3 class="layadmin-title">
		              <strong>胡歌didi</strong>
	              	</h3>
	            </div>
	            <div class="layui-col-md2">
		              <span style="line-height: 2em;text-align: center;">男</span>
	            </div>
	            <div class="layui-col-md2">
		              <span style="line-height: 2em;text-align: center;">汉</span>
	            </div>
            </div>
            <p class="layadmin-textimg">
              <i class="layui-icon layui-icon-location"></i>
					江西省抚州市金溪县
            </p>
          <div class="layadmin-address">
              <p>1996-12-12<p>
              <p><i class="layui-icon layui-icon-cellphone"></i>:13075851351</p>
              <p><i class="layui-icon layui-icon-cellphone"></i>:dv9j0ulukh@msn.com</p>
              <p>福建工程学院</p>
              <p>材料科学与工程15级1503班</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
layui.use(['admin'], function(){
  var $ = layui.$
  ,admin = layui.admin;

});
</script>

<div class="send-box-mask">
</div>
<script src="../plugs/jquery.min.js"></script>
<script src="../js/employeeList.js"></script>
</body>

</html>


