<!-- <link rel="stylesheet" type="text/css" href="../css/fillSummary.css"/> -->
<link rel="stylesheet" type="text/css" href="../css/addMeeting.css"/>
<div>
	<form id="cmSchemeform" lay-filter="cmSchemeform"
		class="layui-form layui-form-pane" style="margin-top: 5px">
		<div class="layui-form-item">
			<label class="layui-form-label col10">名称</label>
			<div class="layui-input-inline col20">
				<input id="name" name="name" class="layui-input">
			</div>
			<label class="layui-form-label col10">标题</label>
			<div class="layui-input-inline col20">
				<input id="title" name="title" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item layui-form-text col62">
			<label class="layui-form-label">活动流程</label>
			<div class="layui-input-block">
				<textarea id="content" name="content" placeholder="请输入内容"
					class="layui-textarea"></textarea>
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit lay-filter="demo1">立即提交</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
			</div>
		</div>
	</form>
</div>
<script src="../plugs/jquery.min.js"></script>
<!-- <script src="../js/fillSummary.js"></script> -->