<!-- <link rel="stylesheet" type="text/css" href="../css/fillScheme.css"/> -->
<link rel="stylesheet" type="text/css" href="../css/addMeeting.css"/>
<div>
	<form id="cmSchemeform" lay-filter="cmSchemeform"
		class="layui-form layui-form-pane" style="margin-top: 5px">
		<div class="layui-form-item">
			<label class="layui-form-label col10">活动名称</label>
			<div class="layui-input-inline col20">
				<input id="name" name="name" class="layui-input">
			</div>
			<label class="layui-form-label col10">活动主题</label>
			<div class="layui-input-inline col20">
				<input id="theme" name="theme" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label col10"> 活动时间</label>
			<div class="layui-input-inline col20">
				<input id="beginTime" name="beginTime" class="layui-input">
			</div>
			<label class="layui-form-label col10">活动地点</label>
			<div class="layui-input-inline col20">
				<input id="place" name="place" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label col10">活动人员</label>
			<div class="layui-input-inline col20">
				<input id="person" name="person" class="layui-input">
			</div>
			<label class="layui-form-label col10"> 活动形式</label>
			<div class="layui-input-inline col20">
				<input id="form" name="form" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item layui-form-text col62">
			<label class="layui-form-label">活动目的</label>
			<div class="layui-input-block">
				<textarea id="goal" name="goal" placeholder="请输入内容"
					class="layui-textarea"></textarea>
			</div>
		</div>
		<div class="layui-form-item layui-form-text col62">
			<label class="layui-form-label">活动人员安排</label>
			<div class="layui-input-block">
				<textarea id="arrangements" name="arrangements" placeholder="请输入内容"
					class="layui-textarea"></textarea>
			</div>
		</div>
		<div class="layui-form-item layui-form-text col62">
			<label class="layui-form-label">活动流程</label>
			<div class="layui-input-block">
				<textarea id="flow" name="flow" placeholder="请输入内容"
					class="layui-textarea"></textarea>
			</div>
		</div>
		<div class="layui-form-item layui-form-text col62">
			<label class="layui-form-label">活动内容</label>
			<div class="layui-input-block">
				<textarea id="content" name="content" placeholder="请输入内容"
					class="layui-textarea"></textarea>
			</div>
		</div>
		<div class="layui-form-item layui-form-text col62">
			<label class="layui-form-label">资金预算</label>
			<div class="layui-input-block">
				<textarea id="budget" name="budget" placeholder="请输入内容"
					class="layui-textarea"></textarea>
			</div>
		</div>
		<div class="layui-form-item layui-form-text col62">
			<label class="layui-form-label">奖励</label>
			<div class="layui-input-block">
				<textarea id="award" name="award" placeholder="请输入内容"
					class="layui-textarea"></textarea>
			</div>
		</div>
		<div class="layui-form-item layui-form-text col62">
			<label class="layui-form-label">注意事项</label>
			<div class="layui-input-block">
				<textarea id="description" name="description" placeholder="请输入内容"
					class="layui-textarea"></textarea>
			</div>
		</div>
		<div class="layui-form-item layui-form-text col62">
			<label class="layui-form-label">会议概要</label>
			<div class="layui-input-block">
				<textarea placeholder="请输入内容" class="layui-textarea"></textarea>
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" id="demo1">立即提交</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
			</div>
		</div>
	</form>
</div>
<script src="../plugs/jquery.min.js"></script>
<script src="../js/fillScheme.js"></script>