<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <title>吴凯斌-Java</title>
    <link rel="stylesheet" href="../css/selfInfo.css">
</head>
<body>
<body >

    <div class="resume-center-container">
        <!--编辑简历 背景区域-->
        <div class="bg-mask"></div>
        <div>
            <div class="resume-container colour-4 rh11">
                <div class="main-content">
                        <div class="ResumesBasic-box clearfixed">
                        <!-- 简历照片区域 -->
						<div class="ResumesPic">
							<div>
								<img src="https://jiuye.fjut.edu.cn/Uploads/icon/5beeab10d44c7.jpg">
							</div>
							<input class="layui-btn layui-btn-small layui-btn-normal modifyBtn"
								id="modify" value="修改信息" >
						</div>
						<div class="ResumesBasic">
                            <div class="ResumesBasicTitle">
                                <h1>吴凯斌</h1>
                                <h3>校学生会<span class="resume_key">干事</span></h3>
                            </div>
                            <div class="ResumesBasicTitle">
                                <div class="h4">
                              	    <p class="email-h4 " data-class="email-h4">
                                        <span class="resume_key" data-keyname="account" data-type="value" contenteditable="false" spellcheck="false">Wu-0422<em class="delHeadRow"></em></span>
                                    </p>
                                    <p class="phone-h4 " data-class="phone-h4">
                                        <span class="resume_key" data-keyname="mobile" data-type="value" contenteditable="false" spellcheck="false">13075851351<em class="delHeadRow"></em></span>
                                    </p>
                                    <p class="sex-h4 " data-class="sex-h4">
                                        <span class="resume_key" data-keyname="sex" data-type="value" contenteditable="false" spellcheck="false">男</span>
                                        <span class="resume_key" data-keyname="birthday" data-type="value" contenteditable="false" spellcheck="false">1996-10-26<em class="delHeadRow"></em></span>
                                    </p>
                                    <p class="email-h4 " data-class="email-h4">
                                        <span class="resume_key" data-keyname="email" data-type="value" contenteditable="false" spellcheck="false">842387850@qq.com<em class="delHeadRow"></em></span>
                                    </p>
                                    <p class="address-h4 " data-class="address-h4">
                                        <span class="resume_key" data-keyname="expectcity" data-type="value" contenteditable="false" spellcheck="false">福建福州<em class="delHeadRow"></em></span>
                                    </p>
                                    <p class="politics-h4 " data-class="politics-h4">
                                        <span class="resume_key" data-keyname="politics" data-type="value" contenteditable="false" spellcheck="false">群众<em class="delHeadRow"></em></span>
                                    </p>
                                    <p class="rest rest1 " data-class="rest1">
                                        <span class="resume_key" data-keyname="rest1" data-type="value" contenteditable="false" spellcheck="false">汉族<em class="delHeadRow"></em></span>
                                    </p>
                                    <p class="rest rest2 " data-class="rest2">
                                        <span class="resume_key" data-keyname="rest5" data-type="value" contenteditable="false" spellcheck="false">21岁<em class="delHeadRow"></em></span>
                                    </p>
                                    <p class="rest rest2 " data-class="rest2">
                                        <span class="resume_key" data-keyname="rest2" data-type="value" contenteditable="false" spellcheck="false">清华大学<em class="delHeadRow"></em></span>
                                    </p>
                                    <p class="rest rest3 " data-class="rest3">
                                        <span class="resume_key" data-keyname="rest3" data-type="value" contenteditable="false" spellcheck="false">3158907341<em class="delHeadRow"></em></span>
                                    </p>
                                </div>
                                <div class="adressH">
                                    <p data-class="rest3">
                                        <span class="adressP" data-keyname="rest4" data-type="value" contenteditable="false" spellcheck="false">福建省福州市仓山区城门镇龙江路100-16号禹洲天悦湾<em class="delHeadRow"></em></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ResumesList">
                        <div class="ListRecord">
<div class="ListItem Educational">
    <div class="ItemTitle">
        <span class="title-line"></span>
        <span class="title">
            <i>部门信息</i>
        </span>
    </div>
    <div class="ItemControl">
        <!--编辑状态-->
                 <div class="ItemList">
            <div class="ItemRight">
                <div class="ItemHead">
                    <span class="resume_key university">福建工程学院</span>
                    <span class="resume_key college">软件工程</span>
                    <span class="resume_key degree tr fr">本科</span>
                </div>
                <div class="ItemDetails">
                    <div class="resume_key">
                        <article><ul><li>GPA：3.89/4.0  主修课程：操作系统、C++、数据结构</li></ul></article>
                    </div>
                </div>
            </div>
            <div class="line-box">
                <div class="line-head"></div>
                <div class="line"></div>
            </div>
        </div>
             </div>
</div>  <!--实习经历-->
<div class="ListItem Internship">
    <div class="ItemTitle">
        <span class="title-line"></span>
        <span class="title">
            <i>实习经历</i>
        </span>
    </div>
       <div id="chartmain" style="width:600px; height: 400px;"></div>
</div>
  <!--项目经历-->
<div class="ListItem Experienced">
    <div class="ItemTitle">
        <span class="title-line"></span>
        <span class="title">
            <i>项目经历</i>
        </span>
    </div>
    <div class="ItemControl">
        <!--编辑状态-->
                 <div class="ItemList">
            <div class="ItemLeft">
                <span class="num_ff">2016.04</span>-<span class="num_ff">2016.08</span>
            </div>
            <div class="ItemRight">
                <div class="ItemHead">
                    <span>“搜书网”在线二手书城</span>
                    <span>产品负责人</span>
                </div>
                <div class="ItemDetails">
                    <div class="resume_key">
                        <article><ul><li>产品概述：找书网基于微信作校园O2O服务平台，提供在线书籍查询购买等服务，解决学生在书店卖书价格低、买二手书价格高、买不到二手书的问题；</li><li>运营推广：毕业季开展线下的“图书回流”公益送书500+、定点发放5000余份传单；</li><li>活动策划：策划线上的微信集赞送书300+、话题营销文章-退书攻略等活动。</li></ul></article>
                    </div>
                </div>
            </div>
            <div class="line-box">
                <div class="line-head"></div>
                <div class="line"></div>
            </div>
        </div>
             </div>
</div>
  <!--在校经历-->
<div class="ListItem Association">
    <div class="ItemTitle">
        <span class="title-line"></span>
        <span class="title">
            <i>在校经历</i>
        </span>
    </div>
    <div class="ItemControl">
        <!--编辑状态-->
                 <div class="ItemList">
            <div class="ItemLeft">
                <span class="num_ff">2017.04</span>-<span class="num_ff">2017.05</span>
            </div>
            <div class="ItemRight">
                <div class="ItemHead">
                    <span class="resume_key">大招网校园团队</span>
                    <span class="resume_key">校园经理</span>
                </div>
                <div class="ItemDetails">
                    <div class="resume_key">
                        <article><ul><li>统筹规划：在大招网总部的帮助下，集合7位社团达人成立大招网校园团队，组织团队的文化建设和工作统筹；</li><li>活动组织：组织校园团队策划了2次线下求职分享交流会，活动约有600人参与；</li><li>团队协作：配合总部举办线下双选会，负责线上线下宣传，活动场地租借及安排活动流程。</li></ul></article>
                    </div>
                </div>
            </div>
            <div class="line-box">
                <div class="line-head"></div>
                <div class="line"></div>
            </div>
        </div>
             </div>
</div>
                          </div>
                        <div class="ListAppend">
                              <!--荣誉奖励-->
<div class="ListItem Honors">
    <div class="ItemTitle">
        <span class="title-line"></span>
        <span class="title">
            <i>荣誉奖励</i>
        </span>
    </div>
    <div class="ItemControl">
                 <div class="ItemList">
            <div class="ItemRight">
                <div class="ItemDetails">
                    <div class="resume_key">
                        <article><ul><li>2017.04  校园创业周高峰论坛最佳创业团队奖</li><li>2016.12  国家励志奖学金</li><li>2015.10  校级三好学生</li></ul></article>
                    </div>
                </div>
            </div>
        </div>
             </div>
</div>
    <!--个人技能-->
<div class="ListItem Skills">
    <div class="ItemTitle">
        <span class="title-line"></span>
        <span class="title">
            <i>个人技能</i>
        </span>
    </div>
    <div class="ItemControl">
        <!--编辑状态-->
                 <div class="ItemList">
            <div class="ItemRight">
                <div class="ItemDetails">
                    <div class="resume_key">
                        <article><ul><li>英语：流利的英语口语表达能力和书面表达能力；六级569分／优秀，四级630分／优秀。</li><li>计算机：全国计算机等级考试三级；高级多媒体作品制作员；熟练掌握Offer软件操作。</li></ul></article>
                    </div>
                </div>
            </div>
        </div>
             </div>
</div>
       <!--其他补充-->

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
<div class="send-box-mask">
</div>
<script src="../plugs/jquery.min.js"></script>
<script src="../plugs/clipboard.min.js"></script>
<script src="../plugs/int.prew.js"></script>
<script src="../plugs/echart/echarts.min.js"></script>

<script type="text/javascript">
option = {
	    backgroundColor: '#fff',

	    title: {
	        text: '好友分布',
	        left: 'center',
	        top: 20,
	        textStyle: {
	            color: '#ccc'
	        }
	    },

	    tooltip : {
	        trigger: 'item',
	        formatter: "{a} <br/>{b} : {c} ({d}%)"
	    },

	    visualMap: {
// 	        show: true,
// 	        min: 80,
// 	        max: 600,
// 	        inRange: {
// 	            colorLightness: [80, 600]
// 	        }
	    },
	    series : [
	        {
	            name:'访问来源',
	            type:'pie',
	            radius : '55%',
	            center: ['50%', '50%'],
	            data:[
	                {value:12, name:'软件工程'},
	                {value:25, name:'会计学'},
	                {value:44, name:'网络工程'},
	                {value:12, name:'国际贸易与经济'},
	                {value:51, name:'医药学'}
	            ].sort(function (a, b) { return a.value - b.value; }),
	            roseType: 'radius',
	            label: {
	                normal: {
	                    textStyle: {
	                        color: 'rgba(120, 120, 255, 0.3)'
	                    }
	                }
	            },
	            labelLine: {
	                normal: {
	                    lineStyle: {
	                        color: 'rgba(120, 120, 255, 0.3)'
	                    },
	                    smooth: 0.2,
	                    length: 10,
	                    length2: 20
	                }
	            },
	            itemStyle: {
	                normal: {
	                    color: '#c23531',
	                    shadowBlur: 0,
	                    shadowColor: 'rgba(0, 0, 0, 0.5)'
	                }
	            },

	            animationType: 'scale',
	            animationEasing: 'elasticOut',
	            animationDelay: function (idx) {
	                return Math.random() * 200;
	            }
	        }
	    ]
	};
	
var myChart = echarts.init(document.getElementById('chartmain'));
myChart.setOption(option);
    </script>
    
</body>

</html>


