<link rel="stylesheet" type="text/css" href="../css/meetingList.css"/>
<script src='https://libs.baidu.com/jquery/1.10.2/jquery.min.js'></script>
<style>
* { margin: 0; padding: 0;}
.myscroll { width: 300px; height: 260px; margin: 0 auto; border: 1px solid #ccc; line-height: 26px; font-size: 12px; overflow: hidden;}
.myscroll li { height: 26px; margin-left: 25px;}
.myscroll a { color: #333; text-decoration: none;}
.myscroll a:hover { color: #ED5565; text-decoration: underline;}
</style>
<script src="../plugs/scroll.js"></script>
<div style="width:  80%; padding-top: 24px; margin-left: 10%;background-color: #ffffff">
	<div>

		<div id="seat" style="float: left; width: 60%;">
			<!-- 		<span class="seats-block seat null">11</span> -->
			<!-- 		<span class="seats-block seat full">12</span> -->
		</div>

		<div style="float: right; width: 40%;">
			<div id="myscroll" class="myscroll">
				<ul>
					<li><a href="#">2006年1月John Resig等人创建了jQuery</a></li>
					<li><a href="#">8月，jQuery的第一个稳定版本</a></li>
					<li><a href="#">事件处理和AJAX交互</a></li>
					<li><a href="#">jQuery的性能达到了Prototype</a></li>
					<li><a href="#">Mootools以及Dojo等同类JavaScript库的水平</a></li>
					<li><a href="#">2008年5月，jQuery 1.2.6版发布</a></li>
					<li><a href="#">微软和诺基亚公司正式宣布支持开源的jQuery库</a></li>
					<li><a href="#">它使用了全新的选择符引擎Sizzle</a></li>
					<li><a href="#">2010年1月，也是jQuery的四周年生日</a></li>
					<li><a href="#">jQuery通过eval方法来解析json对象</a></li>
					<li><a href="#">使用原生的JSON.parse解析json对象</a></li>
					<li><a href="#">扁平化UI/Flat UI Kit(PSD)</a></li>
					<li><a href="#">童趣卡通圣诞老人矢量素材(EPS)</a></li>
					<li><a href="#">63个线性图标素材(PSD)</a></li>
					<li><a href="#">15个音乐类图标素材(AI)</a></li>
					<li><a href="#">jQuery侧边导航插件SidebarJS</a></li>
					<li><a href="#">jQuery计时器插件TimeCircles</a></li>
					<li><a href="#">jQuery仿Google Play幻灯片效果插件plusview</a></li>
					<li><a href="#">100个圣诞节矢量图标(PSD/SVG)</a></li>
					<li><a href="#">用FlexSlider制作《枪神纪》幻灯片效果</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="ResultBlock" style="clear: both;">
	<div  id="MeetingDemo"  class="ResultList ">
		
		<div class="ResultCont">
			<div class="title">
<!-- 				<span class="result_item_index">1.</span>  -->
				<a href="" target="_blank"><em>小灰：</em>2019年度年终大会</a>

				<a href="javascript:void(0)">
				 <i class="icon icon_Miner" id="icon1"  title="已结束" style="margin-left: 0px; background: url(../images/Ended.png) no-repeat center center; background-size: cover;"></i>
				</a>
<!-- onclick="showBox(this.id,'zglsdllc201901004','perio')" -->
			</div>
<!-- 			<div class="icon_box" style="display: none;">
				<div class="horn"></div>
				<div class="plate">
					<div class="use">
						文摘阅读 <b><img src="/page/images/loading.gif" style="width: 10px; height: 10px;"></b>
					</div>
				</div>
				<div class="plate">
					<div class="use obtain">
						下载 <b><img src="/page/images/loading.gif" style="width: 10px; height: 10px;"></b>
					</div>
				</div>
				<div class="plate">
					<div class="use quote">
						第三方链接 <b><img src="/page/images/loading.gif" style="width: 10px; height: 10px;"></b>
					</div>
				</div>
				<div class="plate">
					<div class="use spread">
						被引 <b><img src="/page/images/loading.gif" style="width: 10px; height: 10px;"></b>
					</div>
				</div>
			</div>
-->
			<div class="ResultMoreinfo">
				<div class="author">
					<span class="resultResouceType">自律会学风督导部</span>
					<a href="" target="_blank">小灰</a>
				</div>
				
				<div class="Label periodical_label">
					<span class="blockspan">T-501</span>
				</div>

				<div class="Volume">
					<a href="" target="_blank">2019-04-18 12:00:00</a>
				</div>
			</div>
			<div class="summary">
				摘要：通过对《扁舟过三峡》等书的考证,可知<em>19</em><em>世纪</em>人们以木船为交通手段时,在湖北境内的水运主要遵循以沿江的河流及湖泊为首选线路的原则,非不得已,才走长江河道.这是因为此段长江中沙洲密布,河道弯曲,人们出于规避风险之故所致.这种局面的形成既有长江地质水文等自然因素的制约,也与此时存在大量廉价劳动力等社会状况相契合.由于水运的关涉面甚大,厘清水运交通的具体路线,有助于理解诸如市镇的兴衰、人群的变动等相关的复杂历史进程.
			</div>
			<div class="Keyword">
				<a><span>开始时间：</span><span>2019-04-18 18:00:00</span></a>
				<a><span>结束时间：</span><span>2019-04-18 21:00:00</span></a>
			</div>
			<!--新加的阅读下载及其他相关操作-->
			<div class="result_new_operaWrap clear">
				<div class="result_new_operaLeft result_new_operaItem">
					<ul class="clear result_new_listOperaWrap">
						<div class="Mbtn">
							<li>
								<a href="javascript:void(0)" class="result_opera_subscribe " id="col1" onclick="collectionOne('zglsdllc201901004','perio',this.id)">
									<i style="background: url(../images/hand.png) no-repeat center center; background-size: cover;"></i> <span>收到</span>
								</a>
							</li>
						</div>
					</ul>
				</div>
				<div class="result_new_operaCenter result_new_operaItem">
					<ul class="clear">
					</ul>

				</div>
				<div class="result_new_operaRight result_new_operaItem">
					<ul class="clear">
						<li><a href="javascript:void(0)" class="result_new_opera_otherWay"> 被引：<span style="left: 43px;">0</span>
						</a></li>
						<li></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="page" style="margin-top: 5px;padding-left: 24px;"></div>
</div>
<script src="../plugs/jquery.min.js"></script>
<script src="../js/joinMeeting.js"></script>