<link rel="stylesheet" type="text/css" href="../css/meetingList.css"/>
<div style="width:  80%; padding-top: 24px; margin-left: 10%;background-color: #ffffff">
<div>
	<form  id="cmAttendancelistform" class="layui-form" style="margin-top: 5px;padding-bottom:24px;padding-left: 24px; border-bottom: 1px solid #ddd;">
		<div class="layui-input-inline">
			<input type="text" id="name" name="name" placeholder="会议名称" class="layui-input" style="width:100px">
		</div>
		<div class="layui-input-inline">
			<input type="text" id="content" name="content" placeholder="会议内容" class="layui-input" style="width:100px">
		</div>
		<div class="layui-input-inline">
			<input type="text" id="place" name="place" placeholder="会议地点" class="layui-input" style="width:100px">
		</div>
		<div class="layui-input-inline">
			<input type="text" id="beginTime" name="beginTime" placeholder="会议日期" class="layui-input" style="width:100px">
		</div>
		<div class="layui-input-inline">
			<input type="text" id="userName" name="userName" placeholder="发布人" class="layui-input" style="width:100px">
		</div>
		<div class="layui-input-inline">
			<input type="text" id="state" name="state" placeholder="状态" class="layui-input" style="width:100px">
<!--         <ul class="1" ><li>state</li></ul> -->
		</div>
		<button id="resetbtn" type="reset" class="layui-btn layui-btn-small layui-btn-warm">清空</button>
	</form>
</div>

<div class="ResultBlock">
	<div  id="MeetingDemo"  class="ResultList ">
		
		<div class="ResultCont">
			<div class="title">
<!-- 				<span class="result_item_index">1.</span>  -->
				<a href="" target="_blank"><em>小灰：</em>2019年度年终大会</a>

				<a href="javascript:void(0)">
				 <i class="icon icon_Miner" id="icon1"  title="已结束" style="margin-left: 0px; background: url(../images/Ended.png) no-repeat center center; background-size: cover;"></i>
				</a>
<!-- onclick="showBox(this.id,'zglsdllc201901004','perio')" -->
			</div>
<!-- 			<div class="icon_box" style="display: none;">
				<div class="horn"></div>
				<div class="plate">
					<div class="use">
						文摘阅读 <b><img src="/page/images/loading.gif" style="width: 10px; height: 10px;"></b>
					</div>
				</div>
				<div class="plate">
					<div class="use obtain">
						下载 <b><img src="/page/images/loading.gif" style="width: 10px; height: 10px;"></b>
					</div>
				</div>
				<div class="plate">
					<div class="use quote">
						第三方链接 <b><img src="/page/images/loading.gif" style="width: 10px; height: 10px;"></b>
					</div>
				</div>
				<div class="plate">
					<div class="use spread">
						被引 <b><img src="/page/images/loading.gif" style="width: 10px; height: 10px;"></b>
					</div>
				</div>
			</div>
-->
			<div class="ResultMoreinfo">
				<div class="author">
					<span class="resultResouceType">自律会学风督导部</span>
					<a href="" target="_blank">小灰</a>
				</div>
				
				<div class="Label periodical_label">
					<span class="blockspan">T-501</span>
				</div>

				<div class="Volume">
					<a href="" target="_blank">2019-04-18 12:00:00</a>
				</div>
			</div>
			<div class="summary">
				摘要：通过对《扁舟过三峡》等书的考证,可知<em>19</em><em>世纪</em>人们以木船为交通手段时,在湖北境内的水运主要遵循以沿江的河流及湖泊为首选线路的原则,非不得已,才走长江河道.这是因为此段长江中沙洲密布,河道弯曲,人们出于规避风险之故所致.这种局面的形成既有长江地质水文等自然因素的制约,也与此时存在大量廉价劳动力等社会状况相契合.由于水运的关涉面甚大,厘清水运交通的具体路线,有助于理解诸如市镇的兴衰、人群的变动等相关的复杂历史进程.
			</div>
			<div class="Keyword">
				<a><span>开始时间：</span><span>2019-04-18 18:00:00</span></a>
				<a><span>结束时间：</span><span>2019-04-18 21:00:00</span></a>
			</div>
			<!--新加的阅读下载及其他相关操作-->
			<div class="result_new_operaWrap clear">
				<div class="result_new_operaLeft result_new_operaItem">
					<ul class="clear result_new_listOperaWrap">
						<div class="Mbtn">
							<li><a href="javascript:void(0)" class="result_opera_subscribe " id="col1" onclick="collectionOne('zglsdllc201901004','perio',this.id)">
									<i></i> <span>收藏</span>
							</a></li>
							<li><a href="javascript:void(0)" class="result_opera_share" type="0" data-type="shareDiv1"><i></i><span>分享</span> </a>
							</li>
						</div>
					</ul>
				</div>
				<div class="result_new_operaCenter result_new_operaItem">
					<ul class="clear">
						<!-- 期刊其他途径-->
					</ul>
					<!--超过4个时显示更多来源-->

				</div>
				<div class="result_new_operaRight result_new_operaItem">
					<ul class="clear">
						<li><a href="javascript:void(0)" class="result_new_opera_otherWay"> 被引：<span style="left: 43px;">0</span>
						</a></li>
						<li></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="page" style="margin-top: 5px;padding-left: 24px;"></div>
</div>
	<script src="../plugs/jquery.min.js"></script>
	<script src="../js/meetingList.js"></script>