<!-- <link rel="stylesheet" type="text/css" href="../css/myScheme.css"/> -->
<link rel="stylesheet" type="text/css" href="../css/meetingList.css"/>
<script src="../plugs/jquery.min.js"></script>
<div style="width: 80%; padding-top: 24px; margin-left: 10%; background-color: #ffffff">
	<div class="ResultBlock" style="clear: both;">
		<div id="SchemeDemo" class="ResultList">
		</div>
		<div id="Schemepage" style="margin-top: 5px; padding-left: 24px;"></div>
	</div>
</div>
<script src="../js/myScheme.js"></script>