<!-- <link rel="stylesheet" type="text/css" href="../css/payList.css"/> -->
<link rel="stylesheet" type="text/css" href="../css/meetingList.css"/>
<script src='https://libs.baidu.com/jquery/1.10.2/jquery.min.js'></script>
<script src="../plugs/jquery.min.js"></script>

<div style="width: 80%; padding-top: 24px; margin-left: 10%; background-color: #ffffff">
	<div class="ResultBlock" style="clear: both;">
		<div id="PayListDemo" class="ResultList">

			<div class="ResultCont">
				<div class="title">
					<a href="" target="_blank">聚餐缴费，每人<em>20元</em></a> <a
						href="javascript:void(0)"> <i class="icon icon_Miner"
						id="icon1" title="已结束"
						style="margin-left: 0px; background: url(../images/Ended.png) no-repeat center center; background-size: cover;"></i>
					</a>
					<div class="ResultMoreinfo">
						<div class="author">
							<span class="resultResouceType">自律会学风督导部</span> <a href=""
								target="_blank">小灰</a>
						</div>

						<div class="Label periodical_label">
							<span class="blockspan">已结束</span>
						</div>

						<div class="Volume">
							<a href="" target="_blank">2019-04-09 11:41:57</a>
						</div>
					</div>
					<div class="summary">
						摘要：部门聚餐，去的人需缴费<em>20</em><em>元</em>。 地址鳝溪学生街（狗街）四川美食<br /> 不是<em>很辣</em>煮鱼*1
						一丢丢<em>辣椒</em>鱿鱼*2 拔<em>辣</em>椒芋头*3 不辣口啤酒*<em>2</em>箱<br />
					</div>
					<div class="Keyword">
						<a><span>聚餐时间：</span><span>2019-04-18 18:00:00</span></a>
					</div>
					<div class="result_new_operaWrap clear">
						<div class="result_new_operaLeft result_new_operaItem">
							<ul class="clear result_new_listOperaWrap">
							</ul>
						</div>
						<div class="result_new_operaCenter result_new_operaItem">
							<ul class="clear">
							</ul>

						</div>
						<div class="result_new_operaRight result_new_operaItem">
							<ul class="clear">
								<li><a href="javascript:void(0)"
									class="result_new_opera_otherWay"> 现在缴费还有大红包哦：<span
										style="left: 43px;">0</span>
								</a></li>
								<li></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="PayListPage" style="margin-top: 5px; padding-left: 24px;"></div>
	</div>
</div>
<script src="../js/payList.js"></script>