<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <title>吴凯斌-Java</title>
    <link rel="stylesheet" href="../css/selfInfo.css">
</head>
<body>
<body >
    <div class="resume-center-container">
        <!--编辑简历 背景区域-->
        <div class="bg-mask"></div>
        <div>
            <div class="resume-container colour-4 rh11">
                <div class="main-content">
                        <div class="ResumesBasic-box clearfixed">
                        <!-- 简历照片区域 -->
						<div class="ResumesPic">
							<div class="show">
								<img id="avatar1" src="/2.png">
							</div>
							<div class="modify hide">
								<img id="avatar2" src="/2.png">
							</div>
							<input class="layui-btn layui-btn-small layui-btn-normal modifyBtn"
								id="modify1" value="修改信息" >
							<input class="layui-btn layui-btn-small layui-btn-normal modifyBtn hide"
							id="modify2" value="确认" >
						</div>
						<div class="ResumesBasic">
                            <div class="ResumesBasicTitle">
                                <h1 id="userName">-</h1>
                                <h3 id="departmentName">-<span class="resume_key" id="role">-</span></h3>
                            </div>
                            <div class="ResumesBasicTitle">
                                <div class="h4">
                              	    <p class="phone-h4" data-class="email-h4">
                                        <span id="account" class="resume_key show hide" data-keyname="account" data-type="value" contenteditable="false" spellcheck="false">-</span>
                                    	<input id="account1" class="modify hide" placeholder="账号">
                                    </p>
                                    <p class="phone-h4" data-class="phone-h4">
                                        <span id="tel" class="resume_key show hide" data-keyname="mobile" data-type="value" contenteditable="false" spellcheck="false">-</span>
                                    	<input id="tel1" class="modify hide" placeholder="电话">
                                    </p>
                                    <p class="sex-h4" data-class="sex-h4">
                                        <span id="sex" class="resume_key" data-keyname="sex" data-type="value" contenteditable="false" spellcheck="false">-</span>
                                        <span id="birthday" class="resume_key" data-keyname="birthday" data-type="value" contenteditable="false" spellcheck="false">-</span>
                                    </p>
                                    <p class="email-h4" data-class="email-h4">
                                        <span id="email" class="resume_key" data-keyname="email" data-type="value" contenteditable="false" spellcheck="false">-</span>
                                    </p>
                                    <p class="address-h4" data-class="address-h4">
                                        <span id="roots" class="resume_key" data-keyname="expectcity" data-type="value" contenteditable="false" spellcheck="false">-</span>
                                    </p>
                                    <p class="politics-h4" data-class="politics-h4">
                                        <span id="political" class="resume_key" data-keyname="politics" data-type="value" contenteditable="false" spellcheck="false">-</span>
                                    </p>
                                    <p class="rest rest1" data-class="rest1">
                                        <span id="volk" class="resume_key" data-keyname="rest1" data-type="value" contenteditable="false" spellcheck="false">-</span>族
                                    </p>
                                    <p class="rest rest2" data-class="rest2">
                                        <span id="age" class="resume_key" data-keyname="rest5" data-type="value" contenteditable="false" spellcheck="false">-</span>岁
                                    </p>
                                    <p class="rest rest2" data-class="rest2">
                                        <span id="school" class="resume_key" data-keyname="rest2" data-type="value" contenteditable="false" spellcheck="false">-</span>
                                    </p>
                                    <p class="rest rest3" data-class="rest3">
                                        <span id="code" class="resume_key show hide" data-keyname="rest3" data-type="value" contenteditable="false" spellcheck="false">-</span>
										<input id="code1" class="modify hide" placeholder="输入学号绑定学生信息">                                        
                                    </p>
                                </div>
                                <div class="adressH">
                                    <p data-class="rest3">
                                        <span class="adressP" id="address" data-keyname="rest4" data-type="value" contenteditable="false" spellcheck="false">-</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ResumesList">
                                            <div class="ListAppend">
                              <!--荣誉奖励-->
<div class="ListItem Honors">
    <div class="ItemTitle">
        <span class="title-line"></span>
        <span class="title">
            <i>荣誉奖励</i>
        </span>
    </div>
    <div class="ItemControl">
                 <div class="ItemList">
            <div class="ItemRight">
                <div class="ItemDetails">
                    <div class="resume_key">
                        <article id="award">
	                        <ul><li>-</li></ul>
							<ul><li>-</li></ul>
							<ul><li>-</li></ul>
						</article>
                    </div>
                </div>
            </div>
        </div>
             </div>
</div>
       <!--其他补充-->

                        </div>
                        <div class="ListRecord">
<div class="ListItem Educational">
    <div class="ItemTitle">
        <span class="title-line"></span>
        <span class="title">
            <i>部门信息</i>
        </span>
    </div>
    <div class="ItemControl">
                 <div class="ItemList">
            <div class="ItemRight">
                <div class="ItemHead">
                    <span id="departmentName" class="resume_key university">-</span>
                    <span id="departmentCreatTime" class="resume_key college">成立时间：-</span>
                    <span id="departmentCount" class="resume_key degree tr fr">总人数：-人</span>
                </div>
                <div class="ItemHead">
                    <span id="departmentMasterName" class="resume_key university">负责人：-</span>
                    <span id="departmentMasterTel" class="resume_key college">负责人电话：-</span>
                    <span id="departmentLead" class="resume_key degree tr fr">领导组织：-</span>
                </div>
            </div>
            <div class="line-box">
                <div class="line-head"></div>
                <div class="line"></div>
            </div>
        </div>
             </div>
</div>
  <!--实习经历-->
<div class="ListItem Internship">
    <div class="ItemTitle">
        <span class="title-line"></span>
        <span class="title">
            <i>部门人员分布</i>
        </span>
    </div>
    <div style="float: left;">
       <div id="ByDept" style="width:400px; height: 400px;"></div>
    </div>
    <div style="float: left;">
       <div id="ByProvince" style="width:400px; height: 400px;"></div>
    </div>
    <div style="clear: left;"></div>
    <div style="float: left;">
       <div id="ByOrigin" style="width:500px; height: 400px;"></div>
    </div>
    <div style="float: left;">
       <div id="BySex" style="width:300px; height: 400px;"></div>
    </div>
    <div style="clear: left;"></div>
</div>
                          </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
<div class="send-box-mask">
</div>
<script src="../plugs/jquery.min.js"></script>
<script src="../plugs/clipboard.min.js"></script>
<script src="../plugs/int.prew.js"></script>
<script src="../plugs/echart/echarts.min.js"></script>
<script src="../plugs/china.js"></script>
<script src="../js/userInfo.js"></script>
<script type="text/javascript">
	option = {
		    backgroundColor: '#fff',
		    title: {
		        text: '好友分布',
		        left: 'center',
		        top: 20,
		        textStyle: {
		            color: '#ccc'
		        }
		    },
		    tooltip : {
		        trigger: 'item',
		        formatter: "{a} <br/>{b} : {c} ({d}%)"
		    },
	 	    visualMap: {
	 	        show: false,
		        min: 12,
		        max: 60
	//  	        inRange: {
	//  	            colorLightness: [12, 60]
	// 	        }
	 	    },
		    series : [
		        {
		            name:'专业来源',
		            type:'pie',
		            radius : '55%',
		            center: ['50%', '50%'],
		            data:[
		                {value:12, name:'软件工程'},
		                {value:25, name:'会计学'},
		                {value:44, name:'网络工程'},
		                {value:15, name:'国际贸易与经济'},
		                {value:51, name:'医药学'}
		            ].sort(function (a, b) { return a.value - b.value; }),
		            roseType: 'radius',
		            label: {
		                normal: {
		                    textStyle: {
		                        color: 'rgba(120, 120, 255, 0.3)'
		                    }
		                }
		            },
		            labelLine: {
		                normal: {
		                    lineStyle: {
		                        color: 'rgba(120, 120, 255, 0.3)'
		                    },
		                    smooth: 0.2,
		                    length: 10,
		                    length2: 20
		                }
		            },
		            itemStyle: {
		                normal: {
		                    color: '#c23531',
		                    shadowBlur: 0,
		                    shadowColor: 'rgba(0, 0, 0, 0.5)'
		                }
		            },
	
		            animationType: 'scale',
		            animationEasing: 'elasticOut',
		            animationDelay: function (idx) {
		                return Math.random() * 200;
		            }
		        }
		    ]
		};
		
	var myChart = echarts.init(document.getElementById('ByDept'));
	myChart.setOption(option);
	
	option2 = {
			title: {
		        text: '城市来源分布',
		        left: 'center',
		        top: 20,
		        textStyle: {
		            color: '#ccc'
		        }
		    },
		    tooltip : {
		        trigger: 'item',
		        formatter: "{a} <br/>{b} : {c} ({d}%)"
		    },
	    visualMap: {
	    	show: false,
	        min: 0,
	        max: 60
	    },
	    geo: {
	        map: 'china',
	        roam: false,//禁止放大缩小
	        label: {
	            normal: {
	                show: true,
	                textStyle: {
	                    color: 'rgba(0,0,0,0.4)'
	                }
	            }
	        },
	        itemStyle: {
	            normal:{
	                borderColor: 'rgba(0, 0, 0, 0.2)'
	            },
	            emphasis:{
	                areaColor: null,
	                shadowOffsetX: 0,
	                shadowOffsetY: 0,
	                shadowBlur: 20,
	                borderWidth: 0,
	                shadowColor: 'rgba(0, 0, 0, 0.5)'
	            }
	        }
	    },
	    series : [
	        {
	            name: '城市来源',
	            type: 'map',
	            roam: true,
	            coordinateSystem: 'geo',
	            geoIndex: 0,
	            // tooltip: {show: false},
	            label: {
	                normal: {
	                    formatter: '{b}',
	                    position: 'right',
	                    show: false
	                },
	                emphasis: {
	                    show: true
	                }
	            },
	            itemStyle: {
	                normal: {
	                    color: '#F06C00'
	                }
	            },
	            data:[
	                {name: '北京', value: 1},
	                {name: '天津', value: 2},
	                {name: '上海', value: 15},
	                {name: '重庆', value: 0},
	                {name: '河北', value: 20},
	                {name: '河南', value: 20},
	                {name: '云南', value: 15},
	                {name: '辽宁', value: 7},
	                {name: '黑龙江', value: 0},
	                {name: '湖南', value: 7},
	                {name: '安徽', value: 7},
	                {name: '山东', value: 0},
	                {name: '新疆', value: 20},
	                {name: '江苏', value: 3},
	                {name: '浙江', value: 0},
	                {name: '江西', value: 15},
	                {name: '湖北', value: 3},
	                {name: '广西', value: 20},
	                {name: '甘肃', value: 0},
	                {name: '山西', value: 7},
	                {name: '内蒙古', value: 3},
	                {name: '陕西', value: 15},
	                {name: '吉林', value: 0},
	                {name: '福建', value: 3},
	                {name: '贵州', value: 0},
	                {name: '广东', value: 3},
	                {name: '青海', value: 7},
	                {name: '西藏', value: 15},
	                {name: '四川', value: 0},
	                {name: '宁夏', value: 20},
	                {name: '海南', value: 23},
	                {name: '台湾', value: 0},
	                {name: '香港', value: 15},
	                {name: '澳门', value: 3}
	            ]
	        }
	    ]
	};
	var chart=echarts.init(document.getElementById("ByProvince"))
	chart.setOption(option2);
	
	
	
	option3 = {
	    title : {
	        text: '民族分布统计',
	        subtext: '测试数据',
	        x:'center',
	        left: 'center',
	        textStyle: {
	            color: '#ccc'
	        }
	    },
	    tooltip : {
	        trigger: 'item',
	        formatter: "{a} <br/>{b} : {c} ({d}%)"
	    },
	    legend: {
	        type: 'scroll',
	        orient: 'vertical',
	        right: 0,
	        top: 20,
	        bottom: 20,
	        data:[
	              {value:120, name:'汉族'},
	              {value:25, name:'傣族'},
	              {value:44, name:'畲族'},
	              {value:15, name:'侗 族 '},
	              {value:12, name:'回 族'},
	              {value:25, name:'苗 族'},
	              {value:44, name:'蒙古族'},
	              {value:15, name:'满 族'},
	              {value:12, name:'土家族'},
	              {value:25, name:'朝鲜族'},
	              {value:44, name:'白 族'},
	              {value:51, name:'布依族'}
	          ].sort(function (a, b) { return a.value - b.value; }),
	//         selected: data.selected
	    },
	    series : [{
	         name: '民族',
	         type: 'pie',
	         radius : '55%',
	         center: ['40%', '50%'],
	         data:[
	               {value:120, name:'汉族'},
	               {value:25, name:'傣族'},
	               {value:44, name:'畲族'},
	               {value:15, name:'侗 族 '},
	               {value:12, name:'回 族'},
	               {value:25, name:'苗 族'},
	               {value:44, name:'蒙古族'},
	               {value:15, name:'满 族'},
	               {value:12, name:'土家族'},
	               {value:25, name:'朝鲜族'},
	               {value:44, name:'白 族'},
	               {value:51, name:'布依族'}
	       		].sort(function (a, b) { return a.value - b.value; }),
	         itemStyle: {
	             emphasis: {
	                 shadowBlur: 10,
	                 shadowOffsetX: 0,
	                 shadowColor: 'rgba(0, 0, 0, 0.5)'
	             }
	         }
	              }]
	};
	var chart=echarts.init(document.getElementById("ByOrigin"))
	chart.setOption(option3)
	
	option4 = {
		title : {
	        text: '男女比例统计',
	        subtext: '测试数据',
	        x:'center',
	        left: 'center',
	        textStyle: {
	            color: '#ccc'
	        }
	    },
	    tooltip: {
	        trigger: 'item',
	        formatter: "{a} <br/>{b}: {c} ({d}%)"
	    },
	    series: [
	        {
	            name:'性别',
	            type:'pie',
	            radius: ['50%', '70%'],
	            avoidLabelOverlap: false,
	            label: {
	                normal: {
	                    show: false,
	                    position: 'center'
	                },
	                emphasis: {
	                    show: true,
	                    textStyle: {
	                        fontSize: '30',
	                        fontWeight: 'bold'
	                    }
	                }
	            },
	            labelLine: {
	                normal: {
	                    show: false
	                }
	            },
	            data:[
	                {value:35, name:'男'},
	                {value:12, name:'女'},
	            ]
	        }
	    ]
	};
	var chart4=echarts.init(document.getElementById("BySex"))
	chart4.setOption(option4);

</script>
    
</body>

</html>


